<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="SQL_SERVER_ADDRESS" connectionString="Persist Security Info=False;Data Source=AMADUZZIF;Initial Catalog=MSSql157879;Integrated Security=False;User ID=sa;Password=pip1a;Connect Timeout=0;Encrypt=False;Packet Size=4096;MultipleActiveResultSets=true;" />
      <add name="SQL_DATABASE_NAME" connectionString="Persist Security Info=False;Data Source=AMADUZZIF;Initial Catalog=MSSql157879;Integrated Security=False;User ID=sa;Password=pip1a;Connect Timeout=0;Encrypt=False;Packet Size=4096;MultipleActiveResultSets=true;" />
      <add name="SQL_DATABASE_USERID" connectionString="Persist Security Info=False;Data Source=AMADUZZIF;Initial Catalog=MSSql157879;Integrated Security=False;User ID=sa;Password=pip1a;Connect Timeout=0;Encrypt=False;Packet Size=4096;MultipleActiveResultSets=true;" />
      <add name="SQL_DATABASE_PASSWORD" connectionString="Persist Security Info=False;Data Source=AMADUZZIF;Initial Catalog=MSSql157879;Integrated Security=False;User ID=sa;Password=pip1a;Connect Timeout=0;Encrypt=False;Packet Size=4096;MultipleActiveResultSets=true;" />
      
      <add name="postgreSql" connectionString="Server=(localdb)\mssqllocaldb;Database=Blogging;Trusted_Connection=True;" />
    </connectionStrings>
</configuration>