<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="WORK_DIR" value="sqlserver2postgre\Migration\" />
      
      <add key="MSSQL_SERVER_ADDRESS" value="S" />
      <add key="MSSQL_DATABASE_NAME" value="mssqlsource" />
      <add key="MSSQL_DATABASE_USERID" value="sa" />
      <add key="MSSQL_DATABASE_PASSWORD" value="sa" />

      <!-- to enable remote connection: pg_hba.conf 
      
            # TYPE  DATABASE        USER            CIDR-ADDRESS            METHOD

            # IPv4 local & remote connections:
            host    all             all             0.0.0.0/0               trust
            host    all             all             127.0.0.1/32            trust
            # IPv6 local connections:
            host    all             all             fe80::/10               trust
            host    all             all             ::1/128                 trust

      -->
      <add key="PG_SERVER_ADDRESS" value="SERVER" />
      <add key="PG_DATABASE_NAME" value="postgis" />
      <add key="PG_DATABASE_USERID" value="postgres" />
      <add key="PG_DATABASE_PASSWORD" value="postgres" />
      <add key="PG_CONNECTION_PORT" value="5432" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
