<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="MSSQL_SERVER_ADDRESS" value="" />
      <add key="MSSQL_DATABASE_NAME" value="" />
      <add key="MSSQL_DATABASE_USERID" value="" />
      <add key="MSSQL_DATABASE_PASSWORD" value="" />

      <!-- to enable remote connection: pg_hba.conf -->
      <add key="PG_SERVER_ADDRESS" value="" />
      <add key="PG_DATABASE_NAME" value="" />
      <add key="PG_DATABASE_USERID" value="" />
      <add key="PG_DATABASE_PASSWORD" value="" />
      <add key="PG_CONNECTION_PORT" value="" />
    </appSettings>
</configuration>
